extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li.active
        a(href="/categoria") Categoria
      li
        a(href="/categoria/new") New
    table#tRows.table
      tr
        td(colspan=2)#tTitle #{title}
      tr
      td _id
      td nombre
      each el in categoria
        tr
        td
          a(href="/categoria/#{el._id}") #{el._id}
        td= el.nombre