extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li
        a(href="/categoria") Categoria
      li.active
        a(href="/categoria/new") New
      form(method="POST")
        .form-group
          label(for="nombre") Nombre
          input.form-control#nombre(type="text",placeholder="nombre",name="nombre",value="#{(categoria?categoria.nombre:'')}")
        button.btn.btn-primary(type="submit") Accept 
        if categoria
          a(href="/categoria/#{categoria._id}/delete").btn.btn-danger Delete