script(src="/javascripts/vendor/jquery.js?v=0.0.2")
script(src="/javascripts/vendor/pointerevents.js?v=0.0.2")
script(src="/javascripts/vendor/monomer.js?v=0.0.2")
script(src="/javascripts/vendor/humanize-duration.js?v=0.0.2")
script(src="/javascripts/main.js?v=0.0.2")

- categoria = noticia.categoria || null;

script.
  $(function(){
    setTimeout(function(){
        if("#{categoria}"){
          $(".#{categoria}").click()
        }
        var hasSelectedArticle = #{noticia.titulo_noticia ? noticia.titulo_noticia.length > 0 : false};
        if(hasSelectedArticle){
            monomer.__expandFooter();
        }
        $(".getHumanTime").each(function(i, e){
            $(e).text(main.getHumanTime($(e).text()));
        });
    }, 500);
  })

script.
  if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js')
          .then(function(register) {
              if (register.installing) {
                  console.log('Service worker is installing!');
              }
              else if (register.waiting) {
                  console.log('Service worker is waiting!');
              }
              else if (register.active) {
                  console.log('Service worker is active!', register);
              }
          })
          .catch(function(error) {
              console.log('Service worker registration failed ', error);
          });
  } else {
      console.log('Service worker is not supported.');
  }
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51014730-1', 'nwz.cl');
  ga('send', 'pageview');