extends master

block content
  .page.background_page
    .header.blue
      button.expand-LeftMenu.button-left.icon-bars.icon-1x.icon-white
      h3.color-white NWZ - Verdadera Actualidad
    .tabBar
      ul.white.z-d1
        li.tab.color-black.hoy.selected
          span.onTablet.onDesktop Hoy
          i.onMobile.icon-rss
        li.tab.color-black.Deportes
          span.onTablet.onDesktop Deportes
          i.onMobile.icon-futbol-o 
        li.tab.color-black.Nacional
          span.onTablet.onDesktop Nacional
          i.onMobile.icon-map-marker
        li.tab.color-black.Tendencia
          span.onTablet.onDesktop Tendencia
          i.onMobile.icon-hashtag
        li.tab.color-black.Politica
          span.onTablet.onDesktop Política
          i.onMobile.icon-users
        li.tab.color-black.Mundo
          span.onTablet.onDesktop Mundo
          i.onMobile.icon-globe 
        .selectedTab.pink
        .tabElement.background_page
          .content.today
        .tabElement.background_page
          .content.sports
        .tabElement.background_page
          .content.national
        .tabElement.background_page
          .content.trending
        .tabElement.background_page
          .content.politcs
        .tabElement.background_page
          .content.world
    footer.footer.background_control.z-d1
      .footerContent
        img.aspect_16_9
        h1.titulo
        p.bajada
        .cuerpo
