doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="manifest", href="/manifest.json")
    
    link(href="http://getbootstrap.com/dist/css/bootstrap.min.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery.min.js" ,type="text/javascript")
    script(src="http://getbootstrap.com/dist/js/bootstrap.min.js" ,type="text/javascript")
    script(src="/javascripts/connection.js" ,type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.container-fluid
    .row
      include nav
      block content