doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:b='http://www.google.com/2005/gml/b', xmlns:data='http://www.google.com/2005/gml/data', xmlns:expr='http://www.google.com/2005/gml/expr', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://opengraphprotocol.org/schema/')
  head
    - noticia = noticia || {}
    title #{noticia.titulo_noticia || 'NWZ tu centro de noticias'}
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1,user-scalable=no")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#1B0088")
    link(rel="manifest", href="/manifest.json")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@nwz_cl")
    meta(name="twitter:creator", content="@nwz_cl")
    meta(itemprop="name", content="#{noticia.titulo_noticia || 'NWZ tu centro de noticias'}")
    meta(itemprop="description", content="#{noticia.bajada_noticia || 'Todas las noticias en un solo lugar XD'}")
    meta(itemprop="image", content="#{noticia.media_noticia || 'https://nwz.cl/images/default.png'}")
    meta(property="og:url", content="http://nwz.cl/#{noticia.url_noticia || ''}")
    meta(property="og:title", content="#{noticia.titulo_noticia || 'NWZ tu centro de noticias'}")
    meta(property="og:type", content="article")
    meta(property="og:image", content="#{noticia.media_noticia || 'https://nwz.cl/images/default.png'}")
    meta(property="og:description", content="#{noticia.bajada_noticia || 'Todas las noticias en un solo lugar XD'}")
    meta(name="viewport", content="width=320, initial-scale=0.9,user-scalable=no")
    meta(charset='utf-8')
    meta(name="description",content="#{noticia.titulo_noticia || 'NWZ tu centro de noticias'}")
    meta(name="keywords",content="#{keywords || ''}")
    link(rel="stylesheet", href="/stylesheets/monomer.css?v=0.0.2")
    link(rel="stylesheet", href="/stylesheets/style.css?v=0.0.2")
  block content
  
  include footer