extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li.active
        a(href="/noticia") Noticia
      li
        a(href="/noticia/new") New
    table#tRows.table
      tr
        td(colspan=14)#tTitle #{title}
      tr
      td _id
      td referencia
      td url_noticia
      td url_noticia_referencia
      td titulo_noticia
      td bajada_noticia
      td media_noticia
      td tipo_media_noticia
      td cuerpo_noticia
      td cantidad_accesos
      td fecha_creacion
      td tiempo_permanencia_promedio
      td referencia
      td categoria
      each el in noticia
        tr
        td
          a(href="/noticia/#{el._id}") #{el._id}
        td= el.referencia
        td= el.url_noticia
        td= el.url_noticia_referencia
        td= el.titulo_noticia
        td= el.bajada_noticia
        td= el.media_noticia
        td= el.tipo_media_noticia
        td= el.cuerpo_noticia
        td= el.cantidad_accesos
        td= el.fecha_creacion
        td= el.tiempo_permanencia_promedio
        td= el.referencia
        td= el.categoria