extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li
        a(href="/noticia") Noticia
      li.active
        a(href="/noticia/new") New
      form(method="POST")
        .form-group
          label(for="referencia") Referencia
          select.form-control#referencia(placeholder="referencia",name="referencia",value="#{(noticia?noticia.referencia[0]._id:'')}")
          script.
             $(function () {
                 connection.getRefData('referencia','_id','#{(noticia?noticia.referencia[0]._id:'')}');
             });
        .form-group
          label(for="url_noticia") Url_noticia
          input.form-control#url_noticia(type="text",placeholder="url_noticia",name="url_noticia",value="#{(noticia?noticia.url_noticia:'')}")
        .form-group
          label(for="url_noticia_referencia") Url_noticia_referencia
          input.form-control#url_noticia_referencia(type="text",placeholder="url_noticia_referencia",name="url_noticia_referencia",value="#{(noticia?noticia.url_noticia_referencia:'')}")
        .form-group
          label(for="titulo_noticia") Titulo_noticia
          input.form-control#titulo_noticia(type="text",placeholder="titulo_noticia",name="titulo_noticia",value="#{(noticia?noticia.titulo_noticia:'')}")
        .form-group
          label(for="bajada_noticia") Bajada_noticia
          input.form-control#bajada_noticia(type="text",placeholder="bajada_noticia",name="bajada_noticia",value="#{(noticia?noticia.bajada_noticia:'')}")
        .form-group
          label(for="media_noticia") Media_noticia
          input.form-control#media_noticia(type="text",placeholder="media_noticia",name="media_noticia",value="#{(noticia?noticia.media_noticia:'')}")
        .form-group
          label(for="tipo_media_noticia") Tipo_media_noticia
          input.form-control#tipo_media_noticia(type="text",placeholder="tipo_media_noticia",name="tipo_media_noticia",value="#{(noticia?noticia.tipo_media_noticia:'')}")
        .form-group
          label(for="cuerpo_noticia") Cuerpo_noticia
          input.form-control#cuerpo_noticia(type="text",placeholder="cuerpo_noticia",name="cuerpo_noticia",value="#{(noticia?noticia.cuerpo_noticia:'')}")
        .form-group
          label(for="cantidad_accesos") Cantidad_accesos
          input.form-control#cantidad_accesos(type="number",placeholder="cantidad_accesos",name="cantidad_accesos",value="#{(noticia?noticia.cantidad_accesos:'')}")
        .form-group
          label(for="fecha_creacion") Fecha_creacion
          input.form-control#fecha_creacion(type="date",placeholder="fecha_creacion",name="fecha_creacion",value="#{(noticia?noticia.fecha_creacion:'')}")
        .form-group
          label(for="tiempo_permanencia_promedio") Tiempo_permanencia_promedio
          input.form-control#tiempo_permanencia_promedio(type="text",placeholder="tiempo_permanencia_promedio",name="tiempo_permanencia_promedio",value="#{(noticia?noticia.tiempo_permanencia_promedio:'')}")
        .form-group
          label(for="referencia") Referencia
          input.form-control#referencia(type="text",placeholder="referencia",name="referencia",value="#{(noticia?noticia.referencia:'')}")
        .form-group
          label(for="categoria") Categoria
          select.form-control#categoria(placeholder="categoria",name="categoria",value="#{(noticia?noticia.categoria[0]._id:'')}")
          script.
             $(function () {
                 connection.getRefData('categoria','_id','#{(noticia?noticia.categoria[0]._id:'')}');
             });
        button.btn.btn-primary(type="submit") Accept 
        if noticia
          a(href="/noticia/#{noticia._id}/delete").btn.btn-danger Delete