extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li.active
        a(href="/referencia") Referencia
      li
        a(href="/referencia/new") New
    table#tRows.table
      tr
        td(colspan=4)#tTitle #{title}
      tr
      td _id
      td nombre
      td logo
      td url
      each el in referencia
        tr
        td
          a(href="/referencia/#{el._id}") #{el._id}
        td= el.nombre
        td= el.logo
        td= el.url