extends layout
block content
  .col-md-8
    ul.nav.nav-pills.nav-justified
      li
        a(href="/referencia") Referencia
      li.active
        a(href="/referencia/new") New
      form(method="POST")
        .form-group
          label(for="nombre") Nombre
          input.form-control#nombre(type="text",placeholder="nombre",name="nombre",value="#{(referencia?referencia.nombre:'')}")
        .form-group
          label(for="logo") Logo
          input.form-control#logo(type="text",placeholder="logo",name="logo",value="#{(referencia?referencia.logo:'')}")
        .form-group
          label(for="url") Url
          input.form-control#url(type="text",placeholder="url",name="url",value="#{(referencia?referencia.url:'')}")
        button.btn.btn-primary(type="submit") Accept 
        if referencia
          a(href="/referencia/#{referencia._id}/delete").btn.btn-danger Delete