extends master

block content
  .page.background_page
    .header.blue
      button.expand-LeftMenu.button-left.icon-bars.icon-1x.icon-white
      h3.color-white #{noticia.titulo_noticia}
    .tabBar
      ul.white.z-d1
        li.tab.color-black.hoy.selected
          span.onTablet.onDesktop Hoy
          i.onMobile.icon-rss
        li.tab.color-black.Deportes
          span.onTablet.onDesktop Deportes
          i.onMobile.icon-futbol-o 
        li.tab.color-black.Nacional
          span.onTablet.onDesktop Nacional
          i.onMobile.icon-map-marker
        li.tab.color-black.Tendencia
          span.onTablet.onDesktop Tendencia
          i.onMobile.icon-hashtag
        li.tab.color-black.Politica
          span.onTablet.onDesktop Política
          i.onMobile.icon-users
        li.tab.color-black.Mundo
          span.onTablet.onDesktop Mundo
          i.onMobile.icon-globe 
        .selectedTab.pink
        .tabElement.background_page
          .content.today
        .tabElement.background_page
          .content.sports
        .tabElement.background_page
          .content.national
        .tabElement.background_page
          .content.trending
        .tabElement.background_page
          .content.politcs
        .tabElement.background_page
          .content.world
        .content
      footer.footer.background_control.z-d1
        .content.card.white
          .flex
            div
              span.color-pink
                i.icon-clock-o 
                  span hace 
                  span.getHumanTime #{noticia.fecha_creacion}
            div
              span.color-pink
                
          h1.titulo #{noticia.titulo_noticia}
          img.aspect_16_9(src="#{(noticia && noticia.media_noticia) ? noticia.media_noticia.replace('http://','https://') : ''}")
          .contenido
            p.bajada #{noticia.bajada_noticia}
            .cuerpo
              | !{noticia.cuerpo_noticia}
