a {
   outline: 0;
}
a        {text-decoration: none; color: #333}
a:link   {text-decoration: none; color: #333}
a:visited{text-decoration: none; color: #333}
a:active {text-decoration: none; color: #333}
a:hover  {text-decoration: none; color: #333}

.today {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-around;
}
.noticia {
	flex-grow: 1;
}
.noticia .card {
	min-height: 350px;
}

.noticia.aspect_50_50 {
	max-width: 49%;
}

.noticia.noticia.aspect_50_50 .card{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: #000 1px 1px 10px;
    padding: 1em;
}

.noticia.noticia.aspect_50_50 span {
	text-shadow: #FFF 1px 1px 10px;
}

.noticia.aspect_50_25 {
	max-width: 24%;
}

.noticia.aspect_25_50 {
	max-width: 48.5%;
}

.noticia.aspect_25_50 .card{
	min-height: 175px;
	max-height: 175px;
	display:flex;
	
}



.noticia.aspect_25_50 .card .media {
	width: 30%
}
.noticia.aspect_50_50 .card .media { 
	background-color: #3f51b5;
}
.noticia.aspect_25_50 .body {
	padding: 1em;
}

.noticia.aspect_25_50 .body  h2 {
	font-weight: bold;
	font-size: 14px;
}
.noticia.aspect_25_50 .body p  {
	padding: 0;
	font-size: 12px;
}

.noticia.aspect_50_50 .card {
	display: flex;
	justify-content: space-between;
    flex-direction: column;
}
.noticia.aspect_50_50 .card h2 {
	align-self: flex-end;
}

.aspect_vertical {
	width: 49%;
	margin: 3px 0 3px 0;
	box-sizing: border-box;
}

.aspect_vertical .card {
	margin: 0;
	padding-bottom: 0;
}


.card {
	vertical-align: top;
	margin: 3px 0 3px 0;
}

.card .header h2 {
	font-weight: bold;
	font-size: 14px;
}
.card .text {
	margin: 0 1em 0 1em;
	padding: 0;
}

.card .text p {
	font-size: 12px;
}

.footer{
      padding: 0;
      max-height: 0px;
      height: auto;
      min-height: 0px;
	width: 100%;
    }
   
}
.footer .content{
  overflow: auto;
  max-width: 1024px;
  margin: 0 auto;

}

.footer .content h1{
    text-align: center;
}
.footer .content .contenido {
    text-align: justify;
    padding: 1em 5em;
}

.page .header h3 {
    max-width: 86%;
    height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cuerpo img {
    width: 100%;
    height: auto;
}

@media print {
  .header {
  	display: none;
  }
  form {
  	display: none;
  }
  body, .page, .content {
  	overflow: initial;
  }

}


@media screen and (min-width: 320px) and (max-width: 640px){
	.footer .content .contenido {
    	padding: 1em 2em;
	}
	
	[class*='card'] {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
	.onTablet {
		display: none;
	}
	.onDesktop {
		display: none;
	}
	.onMobile {
		display: block;
	}
	

	.noticia.aspect_50_50, 
	.noticia.aspect_50_25,
	.noticia.aspect_25_50,
	.aspect_vertical
	{
		width: 100%;
		max-width: 100%;
		margin: .5em;
	}



  }
@media screen and (min-width: 641px) and (max-width: 960px){ 
	.onMobile {
		display: none;
	}
	.onDesktop {
		display: none;
	}
	.onTablet {
		display: block;
	}
}
@media screen and (min-width: 961px){ 
	.onMobile {
		display: none;
	}
	.onTablet {
		display: none;
	}
	.onDesktop {
		display: block;
	}
}